@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
 display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: left;
  padding-top: 60px;
  padding-left: 60px;
}
.search-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 1em; */
  margin-top: 10px;
  height: 2.7em;
  width: 25em;
  
}
.char-color1{
  color: #F3ED19
}
.char-color2{
  color: #F3ED19;
}
.search-btn button {
  /* padding: 18px 18px; */
  background-color: #80FF00;
  color: white;
  border:none;
  border-radius: 0px 10px 10px 0px;
  /* font-weight: bolder; */
  cursor: pointer;
  /* border-left: none; */
  height: 100%;
  width: 20%;
}

.search-btn :hover {
  background-color: white;
}
.search-btn button:hover {
  border: none;
  background-color: #72de05;
  color:white;
}

.search-btn input {
  padding: 15px 15px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  width: 80%;
  height: 100%;
  font-size: 1rem;
  background-color: whitesmoke;
}
.search-btn input:focus{
  outline: none;
}
.main #word {
  text-align: center;
  font-size: 50px;
}
.header h1 {
  font-size: 70px;
  color: #19F380;
}
.result h3 {
  font-size: 1.3rem;
  color: #00FE7E;
  font-weight: 600;
}
.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.word-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.word-meaning {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px 15px;
  border-radius: 5px;
}
.word-meaning h1 {
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin-right: .7em;
  /* margin: auto; */
  
}
.definition{
  font-size:1rem;
  color: #f5f5f5;
}
.example{
  font-size:1rem;
  color: #f5f5f5;
}

.word-example-audio {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* align-items: center; */
  padding: 10px 15px;
  font-size: 20px;
}

.word-example-audio img {
  color: rgb(0, 0, 0);
  width: 5%;
}
.audio{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
#invalidWord{
  
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}


html, body {
  width: 100%;
  height:100%;
}

body {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #FF0080, #0080FF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.lds-ring {
  display: none;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5f4a5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5f4a5b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sound {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 712px) {
  .header h1 {
    font-size: 60px;
    text-align: center;
  }

}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 50px;
  }
  .search-btn {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: auto;
  }
  .search-btn button {
    padding: 13px 20px;
    border-radius: 0px 16px 16px 0px;
  }
  .search-btn input {
    padding: 10px 15px;
    border-radius: 16px 0px 0px 16px;
    width: 60%;
    font-size: 18px;
  }
  .main #word {
    font-size: 50px;
    margin-bottom: 20px;

  }

  .result {
    flex-direction: column;
  }
  .word-meaning{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .word-example-audio {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .header h1 {
    font-size: 40px;
    text-align: center;
  }
  .search-btn {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: auto;
  }
  .search-btn button {
    padding: 13px 20px;
    border-radius: 0px 12px 12px 0px;
  }
  .search-btn input {
    padding: 10px 15px;
    border-radius: 12px 0px 0px 12px;
    width: 70%;
    font-size: 18px;
  }

  .main #word {
    font-size: 40px;
  }
}

@media only screen and (max-width: 330px) {
  .header h1 {
    font-size: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 185px) {
  .header h1 {
    font-size: 15px;
    text-align: center;
  }
  .main #word {
    font-size: 20px;
  }
}