@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* .main-div{
  
    padding: 100px 60px;
    
    /* From https://css.glass */
/* background: rgba(137, 139, 128, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5.4px); */
/* box-shadow: 2px 2px 2px rgb(27, 27, 27); */
/* } */

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: left;
  padding-top: 60px;
  /* padding-left: 60px; */
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.search-btn {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* gap: 1em; */
  margin-top: 10px;
  height: 2.7em;
  width: 25em;
  transition: ease-in;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
}

/* .char-color1{
  color: transparent;
  -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color:#F3ED19;
            text-shadow: none;
}
.char-color2{
  color: transparent;
   -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color:#F3ED19;
            text-shadow:none ;
} */
.search-btn button {
  /* padding: 18px 18px; */
  background-color: #e3cbf5;
  color: #cbebf5;
  border: none;
  border-radius: 0px 11px 11px 0px;
  /* font-weight: bolder; */
  cursor: pointer;
  /* border-left: none; */
  height: 100%;
  width: 20%;
}

.search-btn :hover {
  transform: scale(1);
}
.search-btn button:hover {
  border: none;
  background-color: #72de05;
  color: white;
  border-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
#btn {
  color: black;
  border: none;
  border-radius: 3px;
}
#btn :hover {
  transform: scale(1.5);
  box-shadow: none;
}
.antonyms {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.interjection {
  text-transform: capitalize;
}

.antonyms h5 {
  color: rgb(154, 235, 255);
}
.synonyms {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.synonyms h4 {
  color: rgb(154, 235, 255);
}
.Urls {
  color: #00fe7e;
}
.search-btn input {
  padding: 15px 15px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  width: 80%;
  height: 100%;
  font-size: 1rem;
  background-color: whitesmoke;
}
.search-btn input:focus {
  outline: none;
}
.main #word {
  text-align: center;
  font-size: 50px;
}
.header h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
  color: #000000;
  /* text-shadow: 3px 4px 7px rgba(21, 81, 3, 0.69); */
}
.result h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  color: #00fe7e;
  font-weight: 600;
  text-shadow: 3px 4px 7px rgba(21, 81, 3, 0.69);
}
.main {
  background-color: #000000;
  opacity: 0.7;
  width: 70%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5em;
  margin-top: 20px;

  padding-right: 40px;
  /* margin-left: 100px; */

  font-size: 70px;
  color: #19f380;
  text-shadow: 3px 4px 7px rgba(21, 81, 3, 0.69);
}

.main li {
  list-style: none;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;

  margin: 20px;
}
.word-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.word-meaning {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px 15px;
  border-radius: 5px;
}

.word-meaning h1 {
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin-right: 0.7em;
  /* margin: auto; */
}
.definition {
  font-size: 1rem;
  color: #f5f5f5;
}
.definition ul {
  list-style: none;
}

.definition ol li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.definition h4 {
  color: rgb(154, 235, 255);
}
.example {
  font-size: 1rem;
  color: #f5f5f5;
}
.example ul {
  list-style: none;
}

.example ol li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.example h4 {
  color: rgb(154, 235, 255);
}

.word-example-audio {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* align-items: center; */
  padding: 10px 15px;
  font-size: 20px;

  color: #19f380;
}

.word-example-audio img {
  color: rgb(0, 0, 0);
  width: 5%;
}
.audio {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
#invalidWord {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #ff0080, #0080ff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.lds-ring {
  display: none;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5f4a5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5f4a5b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sound {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 712px) {
  .container {
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;
  }
  .header h1 {
    padding: 0.7rem 1rem;
  }
  .main {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .definition {
    margin-left: 0;
    text-align: left;
  }
  .definition h4 {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .example h4 {
    font-size: 1.3rem;
  }
  .main #invalidWord {
    font-size: 1.2rem;
  }
  .header h1 {
    font-size: 60px;
    text-align: center;
  }
  .search-btn {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 50px;
  }
  .search-btn {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: auto;
    margin-left: 20px;
  }
  .search-btn button {
    padding: 13px 20px;
    border-radius: 0px 16px 16px 0px;
  }
  .search-btn input {
    padding: 10px 15px;
    border-radius: 16px 0px 0px 16px;
    width: 60%;
    font-size: 18px;
  }
  .main #word {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .result {
    flex-direction: column;
  }
  .word-meaning {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .word-example-audio {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .header h1 {
    font-size: 40px;
    text-align: center;
  }
  .search-btn {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: auto;
  }
  .search-btn button {
    padding: 13px 20px;
    border-radius: 0px 12px 12px 0px;
  }
  .search-btn input {
    padding: 10px 15px;
    border-radius: 12px 0px 0px 12px;
    width: 70%;
    font-size: 18px;
  }

  .main #word {
    font-size: 40px;
  }
}

@media only screen and (max-width: 330px) {
  .header h1 {
    font-size: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 185px) {
  .header h1 {
    font-size: 15px;
    text-align: center;
  }
  .main #word {
    font-size: 20px;
  }
}
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.footer {
  margin-top: 60px;
  text-align: center;
  background-position: 0vw;
  background-color: transparent;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  border-radius: 5px;
  outline: 2px solid whitesmoke;
  outline-offset: 1px;
  transition: 0.25s ease-in-out;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #db5e6f;
  color: white;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ff4e50 50%, #f9d423 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.word-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  text-align: left;
}

.example {
  text-align: left;
}
